/**
 * scrollbar 
 */
::-webkit-scrollbar {
  width: 0px;
}
/**
 * body
 */
body {
  margin-top: 0;
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  background-color: black;
}

.sidenav1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav1 a:hover {
  color: #f1f1f1;
}

.sidenav1 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}



@media screen and (max-height: 450px) {
  .sidenav1 {padding-top: 15px;}
  .sidenav1 a {font-size: 18px;}
}
/**
 * my logo
 */

 .my-img-logo{
  width: 79%;
  height: 35%;
  border-radius: 16vmax;
}
/**
 * full image
 */
img{
    background-repeat: no-repeat  !important;
    background-size: cover  !important;
}
/**
 * 
 */
#particles{
    width: 100%;
    height: 550px;
    background: #262626 url("../img/paralex.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-particles{
    width: 40vw;
    height: 10vw;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
}

.container-particles h2{
    color: white;
    font-size: 4vw;
    margin: 0;

}